:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8f8f8
}

div[contenteditable=true] {
  border: none;
  outline: none;
  focus-ring: none;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  border-left: 4px solid #ffa600;
  margin-left: 0;
  border-radius: 6px;
  padding: 2px 6px;
  background-color: #f2f2f5;
  line-height: 1;
}

hr {
  height: 4px;
  border: none;
  background-color: #ffa600;
}


ul[data-type="taskList"] {
  list-style: none;
  padding: 0;

  p {
    margin: 0;
  }

  li {
    display: flex;

    > label {
      flex: 0 0 auto;
      margin-right: 0.5rem;
      user-select: none;
    }

    > div {
      flex: 1 1 auto;
    }

    ul li,
    ol li {
      display: list-item;
    }

    ul[data-type="taskList"] > li {
      display: flex;
      padding: 6px 0;
    }
  }
}
